**.sdf
**.suo
**.user
**.filters
**.opensdf
**.pdb
**.udf
**/obj
**.lnk
**.c3t
**.c3b
**.blend1
**/cocosstudio
**/Debug.win32/
**/Release.win32/
**/proj.ios_mac/build
**/xcuserdata
game/settings.lua
game/data/labsettings.lua